.app {
    background-color: #131316;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1240px;
}

.heading {
    padding: 40px 0 10px 0;
}
