.card {
    position: relative;
    width: 272px;
    height: 208px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.cardDragging {
    opacity: 0.2;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

.name {
    text-align: center;
}

.image {
    pointer-events: none;
}
